nav{
    position: fixed;
    z-index: 1000;
    height:10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color: #ffffff;
}

nav h1{
    margin: 10px;
}

.nav-links-container{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

.nav-link{
    padding: 5px;
    margin-right: 5px;
    font-weight: 500;
    cursor: pointer;
    color: gray;
}

.active{
    color: #ffffff;
}